.MovieCard {
  width: 270px;
  background: var(--black);
  display: flex;
  flex-direction: column;
}

.MovieCard__image-container {
  height: 280px;
  overflow: hidden;
}

.MovieCard__image-container img {
  width: 100%;
}

.MovieCard__content-container {
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.MovieCard__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.MovieCard__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 18px;
}
